@media screen and (min-width: 1024px){
    *{
        margin: 0;
        padding: 0;
    }
    .img2{
        width: 100%;
    }
    .img1{
        display: block;
        margin: 0 auto;
        width: 70%;
    }
    video{
        display: block;
        margin: 0px auto;
        margin-bottom: 50px;
        width: 80%;
    }
}
@media screen and (max-width: 1023px){
    *{
        margin: 0;
        padding: 0;
    }
    .inner-main img{
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    video{
        display: block;
        margin: 0px auto;
        margin-bottom: 20px;
        width: 80%;
    }
}